@charset "UTF-8";
/* Підключення фрифтів */
/* Google Fonts (Plugin) */
/* Локальне підключення шрифтів */
@import url("reset.css");
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia-Italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/* .... */
@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial-ItalicMT.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
/* Скидання стилів */
/* Скидання змінних */
:root {
  --color-light-xl: #fff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444;
  --color-dark-3xl: #292929;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --start-screen-gradient-background: #211f20;
  --footer-gradient-background: #211f20;
  --font-family: "Georgia", sans-serif;
  --second-family: "Arial", sans-serif;
  --third-family: "Inter", sans-serif;
}

/* Основні стилі */
body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 148%;
  color: var(--dark);
}

.wrapper {
  min-height: 100%;
  overflow: clip; /* clip */
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.wrapper > main {
  flex-grow: 1;
}

/* --------------------- */
[class*=__container] {
  max-width: 1230px;
  padding-inline: 15px;
  margin: 0 auto;
}

/* --------------------- */
/* Стилі для header */
.header--bg {
  background: url(../img/image/background.webp) 0 0/cover no-repeat scroll;
}
.header {
  position: fixed;
  z-index: 50;
  inset-inline: 0;
  padding-block-start: 1.875rem;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: grid;
}
.header__logo--link:hover {
  border-block-end: 3px solid var(--color-primary);
  color: var(--color-dark-l);
}
.header__logo-title {
  font-family: var(--font-family);
  font-size: 32px;
  line-height: 1.1;
  color: var(--color-dark-l);
}
.header__logo-title--bg {
  color: var(--color-primary);
}
.header__logo-text {
  font-family: var(--second-family);
  font-size: 13px;
  letter-spacing: 0.1em;
  color: var(--color-dark-3xl);
}
.header__logo-text--bg {
  color: var(--color-light-xl);
}
@media (max-width: 640px) {
  .menu__body {
    display: none;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.1875rem;
  line-height: 1.6;
}
.menu__item {
  font-family: var(--second-family);
  font-size: 15px;
  color: var(--color-dark-s);
}
.menu__link {
  font-family: var(--second-family);
  font-size: 15px;
  color: var(--color-dark-s);
}
.menu__link:hover {
  border-block-end: 3px solid var(--color-primary);
  color: var(--color-dark-l);
}

.icon-menu {
  display: none;
}
@media (max-width: 640px) {
  .icon-menu {
    display: inline-block;
    width: 30px;
    height: 22px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
  }
  .icon-menu--bg span, .icon-menu::before, .icon-menu::after {
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
    left: 0;
  }
  .icon-menu::after {
    bottom: 0;
    left: 0;
  }
}

/* Стилі для main */
.page__hero {
  background: url(../img/image/background.webp) 0 0/cover no-repeat scroll;
}
@media (min-width: 980px) {
  .page__hero {
    padding-block-start: 11.25rem;
  }
}
.page__about {
  padding-block: 5rem 6.25rem;
}
@media (min-width: 770px) {
  .page__pets {
    padding: 5.625rem;
  }
}
.page__help {
  padding-block: 5rem 6.25rem;
}
.page__donation {
  padding-block: 5.0625rem 6.1875rem;
}
.page__our-hero {
  display: none;
}
.page__our-pets {
  padding-block-start: 7.5rem;
}

.hero__body {
  display: flex;
  -moz-column-gap: 2.625rem;
       column-gap: 2.625rem;
  row-gap: 100px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 980px) {
  .hero__body {
    flex-wrap: wrap;
  }
}
.hero__component {
  flex: 1 1 460px;
  padding-block-start: 10.1875rem;
}
@media (max-width: 980px) {
  .hero__component {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 103px;
  }
}
.hero__component :not(:last-child) {
  margin-block-end: 2.625rem;
}
.hero__title {
  font-family: var(--font-family);
  font-size: 44px;
  line-height: 130%;
  color: var(--color-light-xl);
}
.hero__text {
  font-family: var(--second-family);
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-dark-s);
}
@media (max-width: 980px) {
  .hero__text {
    max-width: 400px;
  }
}
.hero__image {
  flex: 1 1 auto;
  aspect-ratio: 698/728;
  align-content: flex-end;
}
.hero__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__blok {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
  gap: 80px;
}
@media (max-width: 890px) {
  .about__blok {
    align-self: center;
    justify-self: center;
  }
}
.about__content {
  order: 2;
  max-width: 430px;
}
.about__content h2 {
  max-width: 350px;
}
.about__content :not(:last-child) {
  margin-block-end: 25px;
}
.about__img {
  margin-inline-end: 120px;
  order: 1;
}
.about__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.pets {
  background: var(--color-light-l);
}
.pets__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3.75rem;
  text-align: center;
}
.pets__button {
  align-self: center;
}

.help__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.75rem;
}
.help__cards {
  padding-inline: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 3.4375rem;
}
.help__card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.875rem;
}

.card-link__icon:not(:last-child) {
  margin-block-end: 2.625rem;
}
.card-link__title {
  font-size: 20px;
  line-height: 1.15;
  color: var(--color-dark-l);
}

.donation__body {
  padding-inline: 6.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.donation__imege {
  flex: 1 0 505px;
}
@media (max-width: 770px) {
  .donation__imege {
    order: 2;
  }
}
.donation__content {
  flex: 0 1 380px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media (max-width: 770px) {
  .donation__content {
    order: 1;
  }
}

.our-pets__container {
  padding-block: 5rem 6.25rem;
  display: flex;
  flex-direction: column;
}
.our-pets__content {
  text-align: center;
}
.our-pets__content:not(:last-child) {
  margin-block-end: 75px;
}
/* Стилі для footer */
.footer {
  background: url(../img/image/background.webp) 0 0/cover no-repeat scroll;
}
.footer__container {
  margin-block-start: 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
@media (max-width: 998px) {
  .footer__container {
    justify-content: center;
  }
}
.footer__list {
  padding-block-start: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
@media (max-width: 660px) {
  .footer__list {
    justify-content: center;
  }
}
.footer__item {
  flex-basis: 300px;
}
.footer__title {
  font-size: 35px;
  line-height: 1.3;
  color: var(--color-light-xl);
}
.footer__imege {
  width: 300px;
}
.footer__imege img {
  width: 100%;
  aspect-ratio: 300/310;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-footer {
  margin-block-start: 40px;
}
.item-footer__list {
  display: flex;
  gap: 20px;
  align-items: center;
}
.item-footer__list:not(:last-child) {
  margin-block-end: 40px;
}
.item-footer__link {
  line-height: 1.15;
  color: var(--color-primary);
}
.item-footer__link:hover {
  text-decoration: underline;
}

/* БЕМ елементі @import */
.button {
  border: 2px solid var(--color-primary);
  border-radius: 6.25rem;
  padding: 0.9375rem 2.8125rem;
  font-size: 17px;
  line-height: 1.3;
  color: var(--color-dark-3xl);
}
.button__bograund {
  background: var(--color-primary);
}
.button:hover {
  color: var(--color-dark-3xl);
  background: var(--color-primary-light);
}

.content__title {
  font-size: 35px;
  line-height: 1.3;
  color: var(--color-dark-l);
}
.content__sab-title {
  font-size: 15px;
  line-height: 1, 1;
  color: var(--color-dark-l);
}
.content__card {
  border-radius: 0.5625rem;
  padding: 0.625rem 0.9375rem;
  max-width: 21.875rem;
  background: var(--color-primary);
  display: flex;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
}
.content__text {
  font-family: var(--second-family);
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-dark-xl);
}
.content__text :not(:last-child) {
  margin-block-end: 25px;
}
.slider__swiper {
  position: relative;
  z-index: 0;
}
.slider__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 770px) {
  .slider__buttons {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
  }
}
.slider__button {
  width: 52px;
  aspect-ratio: 52/52;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.1875rem;
}
.slider__button--next {
  rotate: 180deg;
}
.slider__button:hover {
  background: var(--color-primary-light);
}
.slider__wrapper {
  display: flex;
  justify-content: center;
}
.slider__wrapper:not(:last-child) {
  margin-block-end: 45px;
}
.slider__track {
  max-width: 990px;
  display: flex;
  -moz-column-gap: 90px;
       column-gap: 90px;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 770px) {
  .slider__track {
    width: 710px;
    overflow: hidden;
  }
}
.slider__track--gap {
  gap: 40px;
}
.slider__slide {
  background: var(--color-light-s);
  padding-block-end: 1.875rem;
  border-radius: 9px;
  width: 200px;
}
.slider__slide:hover {
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: var(--color-light-xl);
}
.slider__slide:hover .slide__button {
  color: var(--color-dark-3xl);
  background: var(--color-primary-light);
}
.slider__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.slider__paginator {
  width: 3.25rem;
  aspect-ratio: 52/52;
  text-align: center;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  padding: 0.6875rem 0.6125rem;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--color-dark-3xl);
}
.slider__paginator:hover {
  color: var(--color-dark-3xl);
  background: var(--color-primary-light);
}

.slide__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slide__image:not(:last-child) {
  margin-block-end: 30px;
}
.slide__blok {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.875rem;
  padding-inline: 10px;
}
.slide__title {
  font-size: 20px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}
.slide__button {
  align-items: flex-end;
}

.inactiv {
  border: 2px solid var(--color-dark-s);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-s);
}

.active {
  background: var(--color-primary);
}
