// BUTTON
.button {
	border: 2px solid var(--color-primary);
	border-radius: 6.25rem;
	padding: 0.9375rem 2.8125rem;
	font-size: 17px;
	line-height: 1.3;
	color: var(--color-dark-3xl);
	//.button--bograund
	&__bograund {
		background: var(--color-primary);
	}
	&:hover {
		color: var(--color-dark-3xl);
		background: var(--color-primary-light);
	}
}
//========================================================================================================================================================
// CONTENT
.content {
	// .content__title
	&__title {
		font-size: 35px;
		line-height: 1.3;
		color: var(--color-dark-l);
	}
	// .content__sab-title
	&__sab-title {
		font-size: 15px;
		line-height: 1, 1;

		color: var(--color-dark-l);
	}
	// .content__card
	&__card {
		border-radius: 0.5625rem;
		padding: 0.625rem 0.9375rem;
		max-width: 21.875rem;

		background: var(--color-primary);
		display: flex;
		column-gap: 0.9375rem;
	}
	// .content__text
	&__text {
		font-family: var(--second-family);
		font-size: 15px;
		line-height: 1.6;
		color: var(--color-dark-xl);

		:not(:last-child) {
			margin-block-end: 25px;
		}
	}
	// .content__button
	&__button {
	}
}
//========================================================================================================================================================
.card {
	// .card__link-icon
	&__link-icon {
	}
	// .card__title
	&__title {
	}
	// .card__link
	&__link {
	}
}
//========================================================================================================================================================
.slider {
	position: relative;
	z-index: 0;
	// .slider__swiper
	&__swiper {
	}
	// .slider__button
	&__button {
		border-radius: 50%;
		border: 2px solid var(--color-primary);
		display: flex;
		padding: 19px;
		// .slider__button--prev
		&--prev {
			position: absolute;
			left: -10%;
			top: 50%;
		}
		// .slider__button--next
		&--next {
			position: absolute;
			right: -10%;
			top: 50%;
			rotate: 180deg;
		}
		&:hover {
			background: var(--color-primary-light);
		}
	}
	// .slider__wrapper
	&__wrapper {
		&:not(:last-child) {
			margin-block-end: 45px;
		}
	}
	// .slider__track
	&__track {		
		display: grid;
		grid-template-columns:  repeat(auto-fill, minmax(270px,1fr));
		column-gap: 90px;
		&--gap{
			gap: 40px;
		}
	}
	// .slider__slide
	&__slide {
		background: var(--color-light-s);
		padding-block-end: 1.875rem;
		
	}
	// .slider__navigation
	&__navigation {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 20px;
	}
	// .slider__paginator
	&__paginator {
		text-align: center;
		border: 2px solid var(--color-primary);
		border-radius: 50%;
		padding: 0.875rem 1.3125rem;

	
		font-size: 20px;
		line-height: 1.15;		
		text-align: center;
		color: var(--color-dark-3xl);
	}
}
//========================================================================================================================================================

.slide {
	// .slide__image
	&__image {
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover; // Чтобы картинка не искажалась
		}
		&:not(:last-child) {
			margin-block-end: 30px;
		}
	}
	// .slide__blok
	&__blok {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 1.875rem;
		padding-inline: 10px;
	}
	// .slide__title
	&__title {
		font-size: 20px;
		letter-spacing: 0.06em;

		color: var(--color-dark-l);
	}
	// .slide__button
	&__button {
		align-items: flex-end;
	}
}

//========================================================================================================================================================
.inactiv {
	border: 2px solid var(--color-dark-s);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	text-align: center;
	color: var(--color-dark-s);
}
.active {
	background: var(--color-primary);
}
