// BUTTON
.button {
	border: 2px solid var(--color-primary);
	border-radius: 6.25rem;
	padding: 0.9375rem 2.8125rem;
	font-size: 17px;
	line-height: 1.3;
	color: var(--color-dark-3xl);
	//.button--bograund
	&__bograund {
		background: var(--color-primary);
	}
	&:hover {
		color: var(--color-dark-3xl);
		background: var(--color-primary-light);
	}
}
//========================================================================================================================================================
// CONTENT
.content {
	// .content__title
	&__title {
		font-size: 35px;
		line-height: 1.3;
		color: var(--color-dark-l);
	}
	// .content__text
	&__text {
		font-family: var(--second-family);
		font-size: 15px;
		line-height: 1.6;
		color: var(--color-dark-xl);

		:not(:last-child) {
			margin-block-end: 25px;
		}
	}
	// .content__button
	&__button {
	}
}
//========================================================================================================================================================
