.footer {
	background: url(../img/image/background.webp) 0 0 / cover no-repeat scroll;
	// .footer__container
	&__container {
		margin-block-start: 56px;
		display: flex;	
		flex-wrap: wrap;	
		justify-content: space-between;
		align-items: center;
		gap: 50px;	
		@media (max-width: 998px) {
			justify-content: center;
		}
	}
	// .footer__list
	&__list {		
		padding-block-start: 16px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 50px;	
		@media (max-width: 660px) {
			justify-content: center;
		}
	}
	// .footer__item
	&__item {
		flex-basis: 300px;
		
	}
	// .footer__title
	&__title {
		font-size: 35px;
		line-height: 1.3;

		color: var(--color-light-xl);
	}
	// .footer__items
	&__items {
	}
	// .footer__imege
	&__imege {
		width: 300px;
		img {
			width: 100%;
			aspect-ratio: 300/310;
			object-fit: cover;
		}
	}
}
.item-footer {
	margin-block-start: 40px;

	// .item-footer__list
	&__list {
		display: flex;
		gap: 20px;
		align-items: center;		
		&:not(:last-child) {
			margin-block-end: 40px;
		}		
	}
	&__link-icons {
	}
	// .item-footer__link
	&__link {
		line-height: 1.15;

		color: var(--color-primary);
		&:hover {
			text-decoration: underline;
		}
	}
}
