.header {
	position: fixed;
	z-index: 50;
	inset-inline: 0;
	padding-block-start: 30px;
	background: url(../img/image/background.webp) 0 0 / cover no-repeat scroll;
	// .header__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .header__logo
	&__logo {
		display: grid;
	}
	// .header__logo-title
	&__logo-title {
		font-family: var(--font-family);
		font-size: 32px;
		line-height: 110%;
		letter-spacing: 0.06em;
		color: var(--color-primary);
	}
	// .header__logo-text
	&__logo-text {
		font-family: var(--second-family);
		font-size: 13px;
		letter-spacing: 0.1em;
		color: var(--color-light-xl);
	}
	// .header__menu
	&__menu {
	}
}
.menu {
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 35px;
		line-height: 1.6;
	}
	// .menu__item
	&__item {
		font-family: var(--second-family);
		font-size: 15px;
		color: var(--color-dark-s);
	}
	// .menu__link
	&__link {
		font-family: var(--second-family);
		font-size: 15px;
		color: var(--color-dark-s);
		//border-block-end: 3px solid var(--footer-gradient-background);
		&:hover {
			border-block-end: 3px solid var(--color-primary);				
		}
	}
}
.icon-menu {
	display: none;
}

//@import "component/menu.scss";
