.page {
	// .page__hero
	&__hero {		
		background: url(../img/image/background.webp) 0 0 / cover no-repeat scroll;
		@media (min-width: 980px) {
			padding-block-start: 11.25rem;
		}
	}
	// .page__about
	&__about {
		padding-block: 5rem 6.25rem;
	}
	// .page__pets
	&__pets {
		@media (min-width: 770px) {
			padding: 5.625rem;
		}
	}
	// .page__help
	&__help {
		padding-block: 5rem 6.25rem;
	}
	// .page__donation
	&__donation {
		padding-block: 5.0625rem 6.1875rem;
	}
	//	--- OUR-PETS
	//.page__our-hero
	&__our-hero {
		display: none;
	}
	// .page__our-pets
	&__our-pets {
		padding-block-start: 7.5rem;
	}
}
//========================================================================================================================================================
//	--- HERO ---
//========================================================================================================================================================
.hero {
	// .hero__container
	&__container {
	}
	// .hero__body
	&__body {
		display: flex;
		column-gap: 2.625rem;
		row-gap: 100px;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 980px) {
			flex-wrap: wrap;
		}
	}
	// .hero__component
	&__component {
		flex: 1 1 460px;
		padding-block-start: 10.1875rem;
		@media (max-width: 980px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-block-start: 103px;
		}
		:not(:last-child) {
			margin-block-end: 2.625rem;
		}
	}
	// .hero__title
	&__title {
		font-family: var(--font-family);
		font-size: 44px;
		line-height: 130%;
		color: var(--color-light-xl);
	}
	// .hero__text
	&__text {
		font-family: var(--second-family);

		font-size: 15px;
		line-height: 1.6;
		color: var(--color-dark-s);
		@media (max-width: 980px) {
			max-width: 400px;
		}
	}
	// .hero__button
	&__button {
	}
	// .hero__image
	&__image {
		flex: 1 1 auto;
		aspect-ratio: 698 / 728;
		align-content: flex-end;

		img {
			width: 100%;
			object-fit: cover;
		}
	}
}
//========================================================================================================================================================
//	--- ABOUT ---
//========================================================================================================================================================
.about {
	// .about__container
	&__container {
	}
	// .about__blok
	&__blok {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
		gap: 80px;
		@media (max-width: 890px) {
			align-self: center;
			justify-self: center;
		}

		//height: 400px;
	}
	// .about__content
	&__content {
		order: 2;
		max-width: 430px;
		h2 {
			max-width: 350px;
		}
		:not(:last-child) {
			margin-block-end: 25px;
		}
	}
	// .about__img
	&__img {
		margin-inline-end: 120px;
		order: 1;

		img {
			object-fit: cover;
		}
	}
}
//========================================================================================================================================================
//	--- PETS ---
//========================================================================================================================================================
.pets {
	background: var(--color-light-l);
	// .pets__container
	&__container {
		display: flex;
		flex-direction: column;
		//align-items: center;
		justify-content: center;
		row-gap: 3.75rem;
		text-align: center;
	}
	// .pets__content
	&__content {
	}
	// .pets__slider
	&__slider {
	}
	// .pets__button
	&__button {
		align-self: center;
	}
}
//========================================================================================================================================================
//	--- HELP ---
//========================================================================================================================================================
.help {
	// .help__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 3.75rem;
	}
	// .help__content
	&__content {
	}
	// .help__cards
	&__cards {
		padding-inline: 6.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: 120px;
		row-gap: 3.4375rem;
	}
	// .help__card-link
	&__card-link {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 1.875rem;
	}
}
.card-link {
	// .card-link__icon
	&__icon {
		//display: inline-block;
		&:not(:last-child) {
			margin-block-end: 2.625rem;
		}
	}
	// .card-link__title
	&__title {
		font-size: 20px;
		line-height: 1.15;
		color: var(--color-dark-l);
	}
}
//========================================================================================================================================================
//	--- DONATION ---
//========================================================================================================================================================
.donation {
	// .donation__container
	&__container {
	}
	// .donation__body
	&__body {
		padding-inline: 6.25rem;
		display: flex;
		flex-wrap: wrap;		
		gap: 60px;
		
	}
	// .donation__imege
	&__imege {
			flex: 1 0 505px;
		@media (max-width: 770px) {
			order: 2;
		}
	}
	// .donation__content
	&__content {
		flex: 0 1 380px;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		@media (max-width: 770px) {
			order: 1;
		}
	}
}
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//	--- OUR-PETS ---
.our-pets {
	// .our-pets__container
	&__container {
		padding-block: 5rem 6.25rem;
		display: flex;
		flex-direction: column;
		//align-items: center;
	}
	// .our-pets__content
	&__content {
		text-align: center;
		&:not(:last-child) {
			margin-block-end: 75px;
		}
	}
	// .our-pets__slider
	&__slider {
	}
}
