@use "sass:math";
/* Підключення фрифтів */

/* Google Fonts (Plugin) */



//@import "_mixins.scss";

/* Локальне підключення шрифтів */
@import "_fonts.scss";

/* Скидання стилів */
@import url("reset.css");
/* Скидання змінних */
@import "variables.scss";

/* Основні стилі */
body {
	font-family: var(--font-family);	
	font-size: 16px;
	line-height: 148%;	
	color: var(--dark);	
	
}
.wrapper {	
	min-height: 100%;
	overflow: clip; /* clip */

	display: flex;
	flex-direction: column;

	position: relative;
	z-index: 2;
}
.wrapper > main {
	flex-grow: 1;
}

/* --------------------- */

[class*="__container"] {
	max-width: 1230px;
	padding-inline: 15px;
	margin: 0 auto;
}


/* --------------------- */
/* Стилі для header */
@import "_header";
/* Стилі для main */
@import "_main";
/* Стилі для footer */	
@import "_footer";
//@import "common";

/* БЕМ елементі @import */
@import "_common.scss";


